@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*:focus{
    outline:2px dashed #3066BE;
}
*,*::after,*::before{
    box-sizing: border-box;
}

html { height: auto; scroll-snap-type: y mandatory; scroll-padding-top: 3em;}
body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    //font-size: 10px;
    background: #FCFAF9;
    z-index: -999;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    position: relative;
    .snap{
        scroll-snap-align: start;
    }
}
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(72, 229, 194,0.3);
    border-radius: 90px;
    margin: 5px;
    &:hover{
        width: 15px;
    }
    
  }
  ::-webkit-scrollbar-thumb {
    background: #48E5C2;
    border-radius: 90px;
    &:hover{
        background: #37c4a5;
    }
  }

h2{
    font-weight: bolder;
    font-size: 5em;
    margin: 0;
    padding: 10px;
    max-width: 100%;
}

.pattern{
    background-color: #FCFAF9;
    width: 100%;
    position: absolute;
    margin-top: -5em;
    height: 100vh;
    z-index: -1;
    .img{
        margin-left: 0;
        width: 100%;
        height: 100%;
        //clip-path: 0 0 20em 20em;
        background:url(../res/IO.svg) repeat;
        position: inherit;
        
    }
    .fade{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgb(252,250,249);
        background: linear-gradient(1deg, rgba(252,250,249,0) 0%, rgba(252,250,249,1) 100%);
    }
}
.header{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    scroll-snap-align: start;

    .item{
        margin: 0.7em;
        
    }

    img{
        border-radius: 90px;
        width: 3.5em;
    }
    .nameTag{
        font-weight: bold;
        color: #5E5E5E;
        //flex-grow: 1;
    }
}
nav{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3.3em;
    font-weight: 900;
    font-size: large;
    display: block;
    z-index: 999;
    background-color: #3066BE;
    ul{
        position: absolute;
        padding: 0;
        margin: 0;
        bottom: 1em;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        a{
            text-decoration: none;
            color: #FCFAF9;
            transition: color ease-in-out 0.5s;
        }
        .current{
            color: #48E5C2;
        }
        li{
            list-style-type: none;
            margin: 0 1em 0 1em;
        }
    }
    
}
.hero{
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    h1{
        //position: absolute;
        font-family: 'Abril Fatface', cursive;
        font-size:2.5em;
        max-width: 100%;
        padding: 1em;
        color: #3066BE;
        .accent{
            color: #48E5C2;
        }
    }
    .hire{
        position: absolute;
        left: 50%;
        margin-left: -25%;
        width: 50%;
        padding: 1em;
        border-radius: 90px;
        border: none;
        color:#E0FFF8;
        font-weight: 900;
        background: rgb(48,102,190);
        background: linear-gradient(144deg, rgba(48,102,190,1) 0%, rgba(72,229,194,1) 100%);
        background-size: 150%;
        background-position:left;
        transition: all ease-in-out 0.5s;
        &:hover{
            background-position:right;
        }
    }
    
}
.content{
    position: relative;
    width: 100%;
    .projects{
        background: url(../res/wave.svg);
        background-color: #3066BE;
        background-repeat: no-repeat;
        background-size: 103%;
        background-position: center top;
        h2{
            margin:0; 
            word-wrap: break-word;
            color: #48E5C2;
            
        }
        .cardContainer{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding-top: 1em;
            .card{
                background-color: #255096;
                margin: 1em;
                border-radius: 15px;
                width: calc(250px + 2em);
                transition: all 0.5s ease-in-out;
                overflow: hidden;
                img{
                    width: 250px;
                    margin: 1em;
                    border-radius: 15px;
                    filter: drop-shadow(13px 19px 8px rgba(0,0,0,0.1));
                    transition: all 0.2s ease-in-out;
                }
                p{
                    text-align: center;
                    margin: 2em 1em 2em 1em;
                    color: #FCFAF9;
                    font-size: large;
                    font-weight: bold;
                }
                .hover-show{
                    font-size: medium;
                    font-weight: 500;
                    word-wrap: break-word;
                    height: 0;
                    opacity: 0;
                    padding:0;
                    margin: 0;
                    transition: height 0.5s opacity 0.6s ease-in-out;
                }
            }
            .card:hover, .card:focus{
                img{
                    width: calc(250px + 2em);
                    margin:0;
                    border-radius: 15px 15px 0 0;
                }
                .hover-show{
                    height: auto;
                    opacity: 1;
                    margin: 0 1em 2em 1em;
                }
            }
        }
    }
    .skills{
        position: relative;
        width: 100%;
        background-color: #48E5C2;
        scroll-snap-align: start;
        h2{
            color: #FCFAF9;
            margin:0; 
            word-wrap: break-word;

        }
        .icon-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            img{
                height: 150px;
                width: 150px;
                margin: 2em 0;
            }
        }
        
    }
    
}
.hideNav{
    transform: translateY(3.3em);
    
}
.lowerUp{
    transform: translateY(2em);
}
.hidden{
    opacity: 0;
}
.toUp{
    position: fixed;
    bottom: 3em;
    right: 1em;
    z-index: 1000;
    padding: 0;
    width: 4em;
    height: 4em;
    background: #37c4a5;
    border: 0.5em solid #FCFAF9;
    border-radius: 190px;
    box-sizing:content-box;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    img{
        width: 50%;
    }

}
footer{
    display: block;
    background-color: #3066BE;
    margin: 0;
    padding: 0 0 2em 0;
    width: 100%;
    //bottom: 0;
    background-repeat: repeat-x;
    scroll-snap-align: end;
    background-image: url(../res/border_triangles.svg);
    p{
        color: #48E5C2;
        font-size: 1.5em;
        font-weight: bolder;
        padding: 1em 1em 0.1em 1em;
        margin: 0;
    }
    .social-icons{
        display: flex;
        width: 7em;
        margin: 0.4em 0 0 1.4em;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        a{
            img{
                width: 25px;
            }
        }
    }
}
@media only screen and (min-width:1080px) {
    h2{
        font-size: 7em;
        padding: 2em;
    }
    .pattern{
        .img{
            margin-left: 30%;
            width: 70%;
        }
        .fade{
        
            margin-left: 30%;
            position: absolute;
            top: 0;
            width: 70%;
            height: 100%;
            background: radial-gradient(45.68% 45.68% at 50% 50%, rgba(252, 249, 250, 0) 35.42%, rgba(252, 250, 249, 0.846) 100%);
        }
    }
    .header{
        margin-left: 14.3em;
        width: fit-content;
        justify-content:center;
        
    }
    nav{
        position: fixed;
        top: 2.5em;
        right: 0;
        bottom: auto;
        margin-right: 15em;
        width: 15em;
        height: auto;
        font-weight: 900;
        font-size: 0.75em;
        display: block;
        background: none;
        mix-blend-mode: multiply;
        .line{
            display: block;
            position: absolute;
            content: '';
            background-color: #48E5C2;
            width: 2.8em;
            height: 2px;
            bottom: -2px;
            left: 0;
            transition: all ease-in-out 0.5s;
        }
        
        .lineToWork{
            transform: translateX(6.1em) scaleX(1.4);
            background-color: #3066BE;
        }
        .lineToHome{
            background-color: #3066BE;
        }
        .lineToAbout{
            transform: translateX(12.3em) scaleX(1);
            background-color: #3066BE;
        }
        .currentLine{
            background-color:#48E5C2;
        }
        ul{
            position: relative;
            padding: 0;
            bottom: 0;
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            
            a{
                text-decoration: none;
                color: #5E5E5E;
                transition: color ease-in-out 0.5s;
                &:hover,&:focus{
                    color: #3066BE;
                    
                }
            }
            .current{
                color: #48E5C2;
                &:hover,&:focus{
                    color: #37c4a5;
                    outline:2px dashed #37c4a5;
                }
            }
            li{
                list-style-type: none;
                margin: 0;
            }
        }
        
    }
    .hero{
        left: 15em;
        width: calc(100% - 15em);
        h1{
            font-size:4em;
            width: 50%;
            padding: 0;
        }
        .hire{
        left: 0;
        margin-left:0;
        width: auto;
        }
    }
    .content{
        .projects{
            min-height: 110vh;
            h2{
                margin:0 0 0 1.5em;
                padding: 0;
            }
            .cardContainer{
                margin-top: 10%;
                flex-direction: row;
                
                align-items: flex-start;
                justify-content: center;
            }
        }
        .skills{
            min-height: 100vh;
            padding-bottom: 10%;
            h2{
                margin:0 0 0 1.5em;
                padding: 0;
            }
            .icon-container{
                width: 90%;
                margin: 10% auto auto auto;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                img{
                    margin: 2em;
                }
            }
        }
    }
    .toUp{
        bottom: 2em;
        right: 2em;
        border:none
    }
}