@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*:focus{
    outline:2px dashed #0750c7;
}
*,*::after,*::before{
    box-sizing: border-box;
}

html { height: auto; }
body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    //font-size: 10px;
    background: #FCFAF9;
    z-index: -999;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    position: relative;
    .snap{
        scroll-snap-align: start;
    }
}
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(72, 229, 194,0.3);
    border-radius: 90px;
    margin: 5px;
    &:hover{
        width: 15px;
    }
    
  }
  ::-webkit-scrollbar-thumb {
    background: #48E5C2;
    border-radius: 90px;
    &:hover{
        background: #37c4a5;
    }
  }

h2{
    font-weight: bolder;
    font-size: 5em;
    margin: 10px 0 0 0;
    padding: 0 10px;
    max-width: 100%;
}
h3{
    font-weight: bolder;
    font-size: small;
    padding: 0 15px;
    margin: 0;
    letter-spacing: 0.5em;
}

.pattern{
    background-color: #FCFAF9;
    width: 100%;
    position: absolute;
    margin-top: -5em;
    height: 100vh;
    z-index: -1;
    .img{
        margin-left: 0;
        width: 100%;
        height: 100%;
        //clip-path: 0 0 20em 20em;
        background:url(../res/IO.svg) repeat;
        position: inherit;
        
    }
    .fade{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgb(252,250,249);
        background: linear-gradient(1deg, rgba(252,250,249,0) 0%, rgba(252,250,249,1) 100%);
    }
}
.header{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    scroll-snap-align: start;
    z-index: 999;
    position: relative;

    .item{
        margin: 0.7em;
        
    }

    img{
        border-radius: 90px;
        width: 3.5em;
    }
    .nameTag{
        font-weight: bold;
        color: #5E5E5E;
        //flex-grow: 1;
    }
}
nav{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3.3em;
    font-weight: 900;
    font-size: large;
    display: block;
    z-index: 999;
    background-color: #3066BE;
    ul{
        position: absolute;
        padding: 0;
        margin: 0;
        bottom: 1em;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        a{
            text-decoration: none;
            color: #FCFAF9;
            transition: color ease-in-out 0.5s;
        }
        .current{
            color: #48E5C2;
        }
        li{
            list-style-type: none;
            margin: 0 1em 0 1em;
        }
    }
    
}
.hero{
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    h1{
        //position: absolute;
        font-family: 'Abril Fatface', cursive;
        font-size:2.5em;
        max-width: 100%;
        padding: 1em;
        color: #3066BE;
        .accent{
            color: #48E5C2;
        }
    }
    .hire{
        position: absolute;
        left: 50%;
        margin-left: -25%;
        width: 50%;
        padding: 1em;
        border-radius: 90px;
        border: none;
        color:#E0FFF8;
        font-weight: 900;
        background: rgb(48,102,190);
        background: linear-gradient(144deg, rgba(48,102,190,1) 0%, rgba(72,229,194,1) 100%);
        background-size: 150%;
        background-position:left;
        transition: all ease-in-out 0.5s;
        &:hover{
            background-position:right;
        }
    }
    
}
.content{
    position: relative;
    width: 100%;
    .projects{
        background: url(../res/wave.svg);
        background-color: #3066BE;
        background-repeat: no-repeat;
        background-size: 103%;
        background-position: center top;
        h2{
            margin:0; 
            word-wrap: break-word;
            color: #48E5C2;
            
        }
        h3{
            color: #37c4a5;
        }
        .cardContainer{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding-top: 1em;
            .card{
                background-color: #255096;
                margin: 1em;
                border-radius: 15px;
                width: calc(250px + 2em);
                transition: all 0.5s ease-in-out;
                overflow: hidden;
                img{
                    width: 250px;
                    margin: 1em;
                    border-radius: 15px;
                    filter: drop-shadow(13px 19px 8px rgba(0,0,0,0.1));
                    transition: all 0.2s ease-in-out;
                }
                p{
                    text-align: center;
                    margin: 2em 1em 2em 1em;
                    color: #FCFAF9;
                    font-size: large;
                    font-weight: bold;
                }
                .hover-show{
                    font-size: medium;
                    font-weight: 500;
                    word-wrap: break-word;
                    height: 0;
                    opacity: 0;
                    padding:0;
                    margin: 0;
                    transition: height 0.5s opacity 0.6s ease-in-out;
                }
            }
            .card:hover, .card:focus{
                img{
                    width: calc(250px + 2em);
                    margin:0;
                    border-radius: 15px 15px 0 0;
                }
                .hover-show{
                    height: auto;
                    opacity: 1;
                    margin: 0 1em 2em 1em;
                }
            }
            
        }
    }
    .skills{
        position: relative;
        width: 100%;
        background-color: #48E5C2;
        background-image: url(../res/layered-steps-haikei.svg);
        background-repeat: repeat-x;
        background-size: 103%;
        background-position-y: -5px;
        scroll-snap-align: start;
        h2{
            color: #FCFAF9;
            margin:0; 
            word-wrap: break-word;

        }
        h3{
            color: #FCFAF9;
        }
        .icon-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            img{
                // height: 70px;
                // width: 70px;
                width: 20%;
                margin: 2em 5%;
            }
        }
        
    }
    
}
.hideNav{
    transform: translateY(3.3em);
    
}
.lowerUp{
    transform: translateY(2em);
}
.hidden{
    opacity: 0;
}
.toUp{
    position: fixed;
    bottom: 3em;
    right: 1em;
    z-index: 1000;
    padding: 0;
    width: 4em;
    height: 4em;
    background: #37c4a5;
    border: 0.3em solid #fcfaf9;
    border-radius: 190px;
    box-sizing:content-box;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    img{
        width: 50%;
    }

}
footer{
    display: block;
    background-color: #1d488d;
    margin: 0;
    padding: 0 0 2em 0;
    width: 100%;
    //bottom: 0;
    background-repeat: repeat-x;
    scroll-snap-align: end;
    background-image: url(../res/border_triangles.svg);
    p{
        color: #48E5C2;
        font-size: 1.5em;
        font-weight: bolder;
        padding: 1em 1em 0.1em 1em;
        margin: 0;
    }
    .social-icons{
        display: flex;
        width: 7em;
        margin: 0.4em 0 0 1.4em;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        a{
            img{
                width: 25px;
            }
        }
    }
}
footer.blue{
    background-color: #1d488d;
    background-image: url(../res/border_triangles_b.svg);
}
.container-about{
    width: 100%;
    // height: 100vh;
    background: url(../res/IO-Green.svg);
    margin-top: -5em;
    padding-bottom: 10em;
    h2{
        color: #FCFAF9;
        margin:0 0.2em; 
        word-wrap: break-word;
        padding: 0;
        font-size: 4em;

    }
    h3{
        color: #FCFAF9;
        margin: 0 0 3em 0.25em;
        letter-spacing: 0.8em;
        font-size: 0.7em;
    }
    .cardContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 1em;
        align-items:center;
        .card{
            background-color: #37c4a5;
            margin: 1em;
            border-radius: 15px;
            width: 17em;
            h4{
                color: #FCFAF9;
                font-weight: bolder;
                font-size: 2em;
                display: block;
                margin: -0.7em auto 0 auto;
                width: fit-content;
            }
            p{
                margin: 2em;
                line-height: 1.5em;
                color: #07352a;
                a{
                    color: #1d488d;
                    text-decoration: none;
                }
                
            }
            .social-links{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 0 1.5em 1em 1.5em;
                height: 100px;

                a{
                    display: flex;
                    text-decoration: none;
                    color: #1d488d;
                    margin: 0 1em;
                    img{
                        width: 25px;
                        margin: -0.1em 0.5em 0 0;
                        color: #1d488d;
                    }
                    span{
                        font-size: 1.1em;
                    }
                }
            }
        }
    }
    .wave-div{
        content: '';
        width: 100%;
        height: 14em;
        background: url(../res/wave.svg) no-repeat;
        transform: scaleX(-1);
    }
}
.container-work{
    width: 100%;
    // height: 100vh;
    background: url(../res/IO-Blue.svg);
    margin-top: -5em;
    padding-bottom: 10em;
    .wave-div{
        content: '';
        width: 100%;
        height: 14em;
        background: url(../res/wave.svg) no-repeat;
        transform: scaleX(-1);
    }
    h2{
        color: #FCFAF9;
        margin:0 0.2em; 
        word-wrap: break-word;
        padding: 0;
        font-size: 3em;

    }
    h3{
        color: #FCFAF9;
        margin: 0 0 3em 1.3em;
        padding: 0;
        letter-spacing: 0.75em;
        font-size: 0.6em;
    }
    .cardContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 1em;
        align-items:center;
        .card{
            background-color: #275BAF;
            margin: 1em 1em 4em 1em;
            border-radius: 15px;
            width: 90%;
            
            h4{
                color: #FCFAF9;
                font-weight: bolder;
                font-size: 1.5em;
                display: block;
                margin: -0.7em auto 0 auto;
                width: fit-content;
            }
            
            .imageStack{
                width: 100%;
                position: relative;
                height: 200px;
                transition: all ease-in-out 500ms;
                img{
                    position: absolute;
                    width: 250px;
                    left: 50%;
                    margin-left: -125px;
                    margin-top: 1em;
                    border-radius: 1em;
                    transition: all ease-in-out 0.5s;
                    // border: 2px solid #1d488d;
                    filter: drop-shadow(15px 15px 22px rgba(94, 94, 94, 0.226));

                }
                .rotate1{
                    transform: translate(-15px, 5px) rotate(-5deg);
                }
                .rotate2{
                    transform: translate(-20px, 7px) rotate(-9deg);
                }
                .rotate3{
                    transform: translate(-25px, 12px) rotate(-13deg);
                }
        
            }
            .expandedImgStack{
                z-index: 10001;
                position: absolute;
                display: flex;
                flex-direction: column;
                height: 200px;
                top: 0;
                left: 0;
                width: 100%;
                transition: all ease-in-out 0.5s;
                img{
                    position: relative;
                    
                }
                .rotate1,.rotate2,.rotate3{
                    transform: none;
                }
            }
            .heightAuto{
                height: auto;
                transition: all ease-in-out 0.5s;
            }
            p{
                margin: 2em;
                line-height: 1.5em;
                color: #d7e7ff;
            }
            .features{
                margin: 2em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #d7e7ff;
                .item{
                    width: 100%;
                    h5{
                        font-size: large;
                    }
                    li{
                        list-style-type: circle;
                    }
                }
            }
            .visit{
                // vertical-align: middle;
                padding: 7px;
                line-height: 30px;
                background: #FCFAF9;
                border: #FCFAF9;
                border-radius: 5em;
                margin: 0 auto;
                display: block;
                position: relative;
                top: 20px;
                img{
                    display: inline-block;
                    width: 25px;
                    vertical-align: middle;
                    margin: 0 0 3px
                }
                span{
                    display: inline-block;
                    color: #255096;
                    font-weight: bolder;
                    margin-left: 10px;
                }
            }
            
        }
        
    }
    
}
.close{
    position: fixed;
    bottom: 1em;
    left: 50%;
    width: 55px;
    height: 55px;
    margin-left: -27.5px;
    z-index: 100002;
    display: none;
    background: #5E5E5E;
    border: #5E5E5E;
    border-radius: 2em;
    padding: 1em;
    cursor: pointer;
    img{
        width: 25px;
    }
}
.overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 0;
    background: #FCFAF9;
    // display: none;
    height: 0;
    opacity: 0;
    z-index: 10000;
    transition: opacity ease-in-out 0.5s;
}


@media only screen and (min-width:1080px) {
    h2{
        font-size: 7em;
        padding: 2em;
    }
    h3{
        font-weight: bolder;
        font-size: small;
        padding: 0 10px;
        margin: 0 0 0 12.6em;
        letter-spacing: 1em;
        color: #37c4a5;
    }
    .pattern{
        .img{
            margin-left: 30%;
            width: 70%;
        }
        .fade{
        
            margin-left: 30%;
            position: absolute;
            top: 0;
            width: 70%;
            height: 100%;
            background: radial-gradient(45.68% 45.68% at 50% 50%, rgba(252, 249, 250, 0) 35.42%, rgba(252, 250, 249, 0.846) 100%);
        }
    }
    .header{
        margin-left: 14.3em;
        width: fit-content;
        justify-content:center;
        
    }
    nav{
        position: fixed;
        top: 2.5em;
        right: 0;
        bottom: auto;
        margin-right: 15em;
        width: 15em;
        height: auto;
        font-weight: 900;
        font-size: 0.75em;
        display: block;
        background: none;
        mix-blend-mode: multiply;
        .line{
            display: block;
            position: absolute;
            content: '';
            background-color: #48E5C2;
            width: 2.8em;
            height: 2px;
            bottom: -2px;
            left: 0;
            transition: all ease-in-out 0.5s;
        }
        
        .lineToWork{
            transform: translateX(6.1em) scaleX(1.4);
            background-color: #3066BE;
        }
        .lineToHome{
            background-color: #3066BE;
        }
        .lineToAbout{
            transform: translateX(12.3em) scaleX(1);
            background-color: #3066BE;
        }
        .currentLine{
            background-color:#48E5C2;
        }
        ul{
            position: relative;
            padding: 0;
            bottom: 0;
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            
            a{
                text-decoration: none;
                color: #5E5E5E;
                transition: color ease-in-out 0.5s;
                &:hover,&:focus{
                    color: #3066BE;
                    
                }
            }
            .current{
                color: #48E5C2;
                &:hover{
                    color: #37c4a5;
                }
                &:focus{
                    color: #37c4a5;
                    outline:2px dashed #37c4a5;
                }
            }
            li{
                list-style-type: none;
                margin: 0;
            }
        }
        
    }
    .hero{
        left: 15em;
        width: calc(100% - 15em);
        h1{
            font-size:4em;
            width: 9em;
            padding: 0;
        }
        .hire{
        left: 0;
        margin-left:0;
        width: auto;
        }
    }
    .content{
        .projects{
            min-height: 110vh;
            h2{
                margin:0 0 0 1.5em;
                padding: 0;
            }
            .cardContainer{
                margin-top: 10%;
                flex-direction: row;
                
                align-items: flex-start;
                justify-content: center;
            }
        }
        .skills{
            min-height: 100vh;
            padding-bottom: 10%;
            h2{
                margin:0 0 0 1.5em;
                padding: 0;
            }
            .icon-container{
                width: 90%;
                margin: 10% auto auto auto;
                justify-content: center;
                img{
                    margin: 2em;
                    height: 150px;
                    width: 150px;
                }
            }
        }
    }
    .toUp{
        bottom: 2em;
        right: 2em;
        border:none
    }
    .container-about{
        .cardContainer{
            flex-direction: row;
            justify-content: space-around;
            margin: 0 10em; 
            align-items: stretch;
        }
        h2{
            color: #FCFAF9;
            margin:0 0 0 2em; 
            word-wrap: break-word;
            padding: 0;
            font-size: 5em;
    
        }
        h3{
            color: #FCFAF9;
            margin: 0 0 3em 11.8em;
            font-size: 0.8em;
            letter-spacing: 0.95em;
        }
    }
    .container-work{
        h2{
            font-size: 5em;
            padding-left: 2em;
        }
        h3{
            margin: 0 0 3em 12.3em;
            padding: 0;
            font-size: 0.9em;
            letter-spacing: 0.9em;
        }
        .cardContainer{
            margin-top: 10em;
            .card{
                width: 60%;
                margin: 1em 1em 15em 1em;
                h4{
                    margin: -0.7em 2em 0 auto;
                }
                .imageStack{
                    margin: -6em 0 0 1em;
                    width: 400px;
                    img{
                        width: 250px;
                    }
                }
                .expandedImgStack{
                    flex-direction: row;
                    top: 0;
                    left: 50%;
                    width: 60%;
                    transition: all ease-in-out 0.5s;
                    margin: 5em auto auto -30%;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    position: fixed;
                    img{
                        position: relative;
                        left: 0;
                        margin:0.5em;
                        width: 350px;
                    }
                    .rotate1,.rotate2,.rotate3{
                        transform: none;
                    }
                }
                p{
                    margin: 4em 0 0 0;
                    text-align: center;
                    font-size: large;
                }
                .features{
                    font-size: large;
                    margin: 1em 0 3em 0;
                    flex-direction: row;
                    justify-content: space-around;
                    .item{
                        width: 10em;
                        
                    }
                }
            }
        }
    }
}