@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
*:focus {
  outline: 2px dashed #0750c7;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: auto;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #FCFAF9;
  z-index: -999;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  position: relative;
}

body .snap {
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(72, 229, 194, 0.3);
  border-radius: 90px;
  margin: 5px;
}

::-webkit-scrollbar-track:hover {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #48E5C2;
  border-radius: 90px;
}

::-webkit-scrollbar-thumb:hover {
  background: #37c4a5;
}

h2 {
  font-weight: bolder;
  font-size: 5em;
  margin: 10px 0 0 0;
  padding: 0 10px;
  max-width: 100%;
}

h3 {
  font-weight: bolder;
  font-size: small;
  padding: 0 15px;
  margin: 0;
  letter-spacing: 0.5em;
}

.pattern {
  background-color: #FCFAF9;
  width: 100%;
  position: absolute;
  margin-top: -5em;
  height: 100vh;
  z-index: -1;
}

.pattern .img {
  margin-left: 0;
  width: 100%;
  height: 100%;
  background: url(../res/IO.svg) repeat;
  position: inherit;
}

.pattern .fade {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fcfaf9;
  background: linear-gradient(1deg, rgba(252, 250, 249, 0) 0%, #fcfaf9 100%);
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
  z-index: 999;
  position: relative;
}

.header .item {
  margin: 0.7em;
}

.header img {
  border-radius: 90px;
  width: 3.5em;
}

.header .nameTag {
  font-weight: bold;
  color: #5E5E5E;
}

nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3.3em;
  font-weight: 900;
  font-size: large;
  display: block;
  z-index: 999;
  background-color: #3066BE;
}

nav ul {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul a {
  text-decoration: none;
  color: #FCFAF9;
  -webkit-transition: color ease-in-out 0.5s;
  transition: color ease-in-out 0.5s;
}

nav ul .current {
  color: #48E5C2;
}

nav ul li {
  list-style-type: none;
  margin: 0 1em 0 1em;
}

.hero {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 2.5em;
  max-width: 100%;
  padding: 1em;
  color: #3066BE;
}

.hero h1 .accent {
  color: #48E5C2;
}

.hero .hire {
  position: absolute;
  left: 50%;
  margin-left: -25%;
  width: 50%;
  padding: 1em;
  border-radius: 90px;
  border: none;
  color: #E0FFF8;
  font-weight: 900;
  background: #3066be;
  background: linear-gradient(144deg, #3066be 0%, #48e5c2 100%);
  background-size: 150%;
  background-position: left;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.hero .hire:hover {
  background-position: right;
}

.content {
  position: relative;
  width: 100%;
}

.content .projects {
  background: url(../res/wave.svg);
  background-color: #3066BE;
  background-repeat: no-repeat;
  background-size: 103%;
  background-position: center top;
}

.content .projects h2 {
  margin: 0;
  word-wrap: break-word;
  color: #48E5C2;
}

.content .projects h3 {
  color: #37c4a5;
}

.content .projects .cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1em;
}

.content .projects .cardContainer .card {
  background-color: #255096;
  margin: 1em;
  border-radius: 15px;
  width: calc(250px + 2em);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.content .projects .cardContainer .card img {
  width: 250px;
  margin: 1em;
  border-radius: 15px;
  -webkit-filter: drop-shadow(13px 19px 8px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(13px 19px 8px rgba(0, 0, 0, 0.1));
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.content .projects .cardContainer .card p {
  text-align: center;
  margin: 2em 1em 2em 1em;
  color: #FCFAF9;
  font-size: large;
  font-weight: bold;
}

.content .projects .cardContainer .card .hover-show {
  font-size: medium;
  font-weight: 500;
  word-wrap: break-word;
  height: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  -webkit-transition: height 0.5s opacity 0.6s ease-in-out;
  transition: height 0.5s opacity 0.6s ease-in-out;
}

.content .projects .cardContainer .card:hover img, .content .projects .cardContainer .card:focus img {
  width: calc(250px + 2em);
  margin: 0;
  border-radius: 15px 15px 0 0;
}

.content .projects .cardContainer .card:hover .hover-show, .content .projects .cardContainer .card:focus .hover-show {
  height: auto;
  opacity: 1;
  margin: 0 1em 2em 1em;
}

.content .skills {
  position: relative;
  width: 100%;
  background-color: #48E5C2;
  background-image: url(../res/layered-steps-haikei.svg);
  background-repeat: repeat-x;
  background-size: 103%;
  background-position-y: -5px;
  scroll-snap-align: start;
}

.content .skills h2 {
  color: #FCFAF9;
  margin: 0;
  word-wrap: break-word;
}

.content .skills h3 {
  color: #FCFAF9;
}

.content .skills .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .skills .icon-container img {
  width: 20%;
  margin: 2em 5%;
}

.hideNav {
  -webkit-transform: translateY(3.3em);
          transform: translateY(3.3em);
}

.lowerUp {
  -webkit-transform: translateY(2em);
          transform: translateY(2em);
}

.hidden {
  opacity: 0;
}

.toUp {
  position: fixed;
  bottom: 3em;
  right: 1em;
  z-index: 1000;
  padding: 0;
  width: 4em;
  height: 4em;
  background: #37c4a5;
  border: 0.3em solid #fcfaf9;
  border-radius: 190px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.toUp img {
  width: 50%;
}

footer {
  display: block;
  background-color: #1d488d;
  margin: 0;
  padding: 0 0 2em 0;
  width: 100%;
  background-repeat: repeat-x;
  scroll-snap-align: end;
  background-image: url(../res/border_triangles.svg);
}

footer p {
  color: #48E5C2;
  font-size: 1.5em;
  font-weight: bolder;
  padding: 1em 1em 0.1em 1em;
  margin: 0;
}

footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7em;
  margin: 0.4em 0 0 1.4em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .social-icons a img {
  width: 25px;
}

footer.blue {
  background-color: #1d488d;
  background-image: url(../res/border_triangles_b.svg);
}

.container-about {
  width: 100%;
  background: url(../res/IO-Green.svg);
  margin-top: -5em;
  padding-bottom: 10em;
}

.container-about h2 {
  color: #FCFAF9;
  margin: 0 0.2em;
  word-wrap: break-word;
  padding: 0;
  font-size: 4em;
}

.container-about h3 {
  color: #FCFAF9;
  margin: 0 0 3em 0.25em;
  letter-spacing: 0.8em;
  font-size: 0.7em;
}

.container-about .cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1em;
  align-items: center;
}

.container-about .cardContainer .card {
  background-color: #37c4a5;
  margin: 1em;
  border-radius: 15px;
  width: 17em;
}

.container-about .cardContainer .card h4 {
  color: #FCFAF9;
  font-weight: bolder;
  font-size: 2em;
  display: block;
  margin: -0.7em auto 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container-about .cardContainer .card p {
  margin: 2em;
  line-height: 1.5em;
  color: #07352a;
}

.container-about .cardContainer .card p a {
  color: #1d488d;
  text-decoration: none;
}

.container-about .cardContainer .card .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1.5em 1em 1.5em;
  height: 100px;
}

.container-about .cardContainer .card .social-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #1d488d;
  margin: 0 1em;
}

.container-about .cardContainer .card .social-links a img {
  width: 25px;
  margin: -0.1em 0.5em 0 0;
  color: #1d488d;
}

.container-about .cardContainer .card .social-links a span {
  font-size: 1.1em;
}

.container-about .wave-div {
  content: '';
  width: 100%;
  height: 14em;
  background: url(../res/wave.svg) no-repeat;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.container-work {
  width: 100%;
  background: url(../res/IO-Blue.svg);
  margin-top: -5em;
  padding-bottom: 10em;
}

.container-work .wave-div {
  content: '';
  width: 100%;
  height: 14em;
  background: url(../res/wave.svg) no-repeat;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.container-work h2 {
  color: #FCFAF9;
  margin: 0 0.2em;
  word-wrap: break-word;
  padding: 0;
  font-size: 3em;
}

.container-work h3 {
  color: #FCFAF9;
  margin: 0 0 3em 1.3em;
  padding: 0;
  letter-spacing: 0.75em;
  font-size: 0.6em;
}

.container-work .cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1em;
  align-items: center;
}

.container-work .cardContainer .card {
  background-color: #275BAF;
  margin: 1em 1em 4em 1em;
  border-radius: 15px;
  width: 90%;
}

.container-work .cardContainer .card h4 {
  color: #FCFAF9;
  font-weight: bolder;
  font-size: 1.5em;
  display: block;
  margin: -0.7em auto 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container-work .cardContainer .card .imageStack {
  width: 100%;
  position: relative;
  height: 200px;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.container-work .cardContainer .card .imageStack img {
  position: absolute;
  width: 250px;
  left: 50%;
  margin-left: -125px;
  margin-top: 1em;
  border-radius: 1em;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  -webkit-filter: drop-shadow(15px 15px 22px rgba(94, 94, 94, 0.226));
          filter: drop-shadow(15px 15px 22px rgba(94, 94, 94, 0.226));
}

.container-work .cardContainer .card .imageStack .rotate1 {
  -webkit-transform: translate(-15px, 5px) rotate(-5deg);
          transform: translate(-15px, 5px) rotate(-5deg);
}

.container-work .cardContainer .card .imageStack .rotate2 {
  -webkit-transform: translate(-20px, 7px) rotate(-9deg);
          transform: translate(-20px, 7px) rotate(-9deg);
}

.container-work .cardContainer .card .imageStack .rotate3 {
  -webkit-transform: translate(-25px, 12px) rotate(-13deg);
          transform: translate(-25px, 12px) rotate(-13deg);
}

.container-work .cardContainer .card .expandedImgStack {
  z-index: 10001;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.container-work .cardContainer .card .expandedImgStack img {
  position: relative;
}

.container-work .cardContainer .card .expandedImgStack .rotate1, .container-work .cardContainer .card .expandedImgStack .rotate2, .container-work .cardContainer .card .expandedImgStack .rotate3 {
  -webkit-transform: none;
          transform: none;
}

.container-work .cardContainer .card .heightAuto {
  height: auto;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.container-work .cardContainer .card p {
  margin: 2em;
  line-height: 1.5em;
  color: #d7e7ff;
}

.container-work .cardContainer .card .features {
  margin: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d7e7ff;
}

.container-work .cardContainer .card .features .item {
  width: 100%;
}

.container-work .cardContainer .card .features .item h5 {
  font-size: large;
}

.container-work .cardContainer .card .features .item li {
  list-style-type: circle;
}

.container-work .cardContainer .card .visit {
  padding: 7px;
  line-height: 30px;
  background: #FCFAF9;
  border: #FCFAF9;
  border-radius: 5em;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 20px;
}

.container-work .cardContainer .card .visit img {
  display: inline-block;
  width: 25px;
  vertical-align: middle;
  margin: 0 0 3px;
}

.container-work .cardContainer .card .visit span {
  display: inline-block;
  color: #255096;
  font-weight: bolder;
  margin-left: 10px;
}

.close {
  position: fixed;
  bottom: 1em;
  left: 50%;
  width: 55px;
  height: 55px;
  margin-left: -27.5px;
  z-index: 100002;
  display: none;
  background: #5E5E5E;
  border: #5E5E5E;
  border-radius: 2em;
  padding: 1em;
  cursor: pointer;
}

.close img {
  width: 25px;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 0;
  background: #FCFAF9;
  height: 0;
  opacity: 0;
  z-index: 10000;
  -webkit-transition: opacity ease-in-out 0.5s;
  transition: opacity ease-in-out 0.5s;
}

@media only screen and (min-width: 1080px) {
  h2 {
    font-size: 7em;
    padding: 2em;
  }
  h3 {
    font-weight: bolder;
    font-size: small;
    padding: 0 10px;
    margin: 0 0 0 12.6em;
    letter-spacing: 1em;
    color: #37c4a5;
  }
  .pattern .img {
    margin-left: 30%;
    width: 70%;
  }
  .pattern .fade {
    margin-left: 30%;
    position: absolute;
    top: 0;
    width: 70%;
    height: 100%;
    background: radial-gradient(45.68% 45.68% at 50% 50%, rgba(252, 249, 250, 0) 35.42%, rgba(252, 250, 249, 0.846) 100%);
  }
  .header {
    margin-left: 14.3em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav {
    position: fixed;
    top: 2.5em;
    right: 0;
    bottom: auto;
    margin-right: 15em;
    width: 15em;
    height: auto;
    font-weight: 900;
    font-size: 0.75em;
    display: block;
    background: none;
    mix-blend-mode: multiply;
  }
  nav .line {
    display: block;
    position: absolute;
    content: '';
    background-color: #48E5C2;
    width: 2.8em;
    height: 2px;
    bottom: -2px;
    left: 0;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
  }
  nav .lineToWork {
    -webkit-transform: translateX(6.1em) scaleX(1.4);
            transform: translateX(6.1em) scaleX(1.4);
    background-color: #3066BE;
  }
  nav .lineToHome {
    background-color: #3066BE;
  }
  nav .lineToAbout {
    -webkit-transform: translateX(12.3em) scaleX(1);
            transform: translateX(12.3em) scaleX(1);
    background-color: #3066BE;
  }
  nav .currentLine {
    background-color: #48E5C2;
  }
  nav ul {
    position: relative;
    padding: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul a {
    text-decoration: none;
    color: #5E5E5E;
    -webkit-transition: color ease-in-out 0.5s;
    transition: color ease-in-out 0.5s;
  }
  nav ul a:hover, nav ul a:focus {
    color: #3066BE;
  }
  nav ul .current {
    color: #48E5C2;
  }
  nav ul .current:hover {
    color: #37c4a5;
  }
  nav ul .current:focus {
    color: #37c4a5;
    outline: 2px dashed #37c4a5;
  }
  nav ul li {
    list-style-type: none;
    margin: 0;
  }
  .hero {
    left: 15em;
    width: calc(100% - 15em);
  }
  .hero h1 {
    font-size: 4em;
    width: 9em;
    padding: 0;
  }
  .hero .hire {
    left: 0;
    margin-left: 0;
    width: auto;
  }
  .content .projects {
    min-height: 110vh;
  }
  .content .projects h2 {
    margin: 0 0 0 1.5em;
    padding: 0;
  }
  .content .projects .cardContainer {
    margin-top: 10%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .skills {
    min-height: 100vh;
    padding-bottom: 10%;
  }
  .content .skills h2 {
    margin: 0 0 0 1.5em;
    padding: 0;
  }
  .content .skills .icon-container {
    width: 90%;
    margin: 10% auto auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .skills .icon-container img {
    margin: 2em;
    height: 150px;
    width: 150px;
  }
  .toUp {
    bottom: 2em;
    right: 2em;
    border: none;
  }
  .container-about .cardContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 10em;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .container-about h2 {
    color: #FCFAF9;
    margin: 0 0 0 2em;
    word-wrap: break-word;
    padding: 0;
    font-size: 5em;
  }
  .container-about h3 {
    color: #FCFAF9;
    margin: 0 0 3em 11.8em;
    font-size: 0.8em;
    letter-spacing: 0.95em;
  }
  .container-work h2 {
    font-size: 5em;
    padding-left: 2em;
  }
  .container-work h3 {
    margin: 0 0 3em 12.3em;
    padding: 0;
    font-size: 0.9em;
    letter-spacing: 0.9em;
  }
  .container-work .cardContainer {
    margin-top: 10em;
  }
  .container-work .cardContainer .card {
    width: 60%;
    margin: 1em 1em 15em 1em;
  }
  .container-work .cardContainer .card h4 {
    margin: -0.7em 2em 0 auto;
  }
  .container-work .cardContainer .card .imageStack {
    margin: -6em 0 0 1em;
    width: 400px;
  }
  .container-work .cardContainer .card .imageStack img {
    width: 250px;
  }
  .container-work .cardContainer .card .expandedImgStack {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 0;
    left: 50%;
    width: 60%;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    margin: 5em auto auto -30%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: fixed;
  }
  .container-work .cardContainer .card .expandedImgStack img {
    position: relative;
    left: 0;
    margin: 0.5em;
    width: 350px;
  }
  .container-work .cardContainer .card .expandedImgStack .rotate1, .container-work .cardContainer .card .expandedImgStack .rotate2, .container-work .cardContainer .card .expandedImgStack .rotate3 {
    -webkit-transform: none;
            transform: none;
  }
  .container-work .cardContainer .card p {
    margin: 4em 0 0 0;
    text-align: center;
    font-size: large;
  }
  .container-work .cardContainer .card .features {
    font-size: large;
    margin: 1em 0 3em 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container-work .cardContainer .card .features .item {
    width: 10em;
  }
}
/*# sourceMappingURL=main.css.map */